<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Olá Mundo</title>
</head>
<body>

<div id="app">
 <h1>{{title}}</h1>
 <button type="button" v-on:click="buscarTodos();">Buscar todos</button>
        <input type="text" v-model="text" v-on:keyup.enter="addTodo();" />
        <ul>
            <li v-for="item in list">
                <span> {{item.text}}</span>
                <button v-on:click="removeTodo($index);">X</button>
            </li>
        </ul>
        <div id="resposta"></div>
</div>

<script src="https://vuejs.org/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script th:src="@{js/myjs.js}" ></script>
</body>
</html>